 body {
  margin: 0;
  padding: 2% 0;
}
#map {
  top: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -5;
}
#header {
  margin-top: 1vh; /*how much map do you want above the white background box*/
  min-height: 30vh; /*how long the white background box is*/
  opacity: 80%;
  padding: 2% 0; /*ths property sets the padding area on all four sides of an element at once by 2%, and centers the object (0) https://developer.mozilla.org/en-US/docs/Web/CSS/padding#Values*/
}
#features {
  padding-top: 80vh; /*defined amount of space from the title box to the first scrolling section */
  padding-bottom: 10vh;
  z-index: 100;
}
@media (max-width: 750px) {
  #features {
    width: 90vw;
    margin: 0 auto;
  }
}
#footer {
  min-height: 2vh;
  text-align: left;
  line-height: 25px;
}
#header h1 { /*title of the story*/
    font-weight: 550; /*how bold do you want the text to be?*/
    text-transform: uppercase;
    font-family: 'Cormorant+Garamond', serif;
    text-align: left;
    margin: auto;
    max-width: 600px; /*width of the text box-- how wide you want it to extend on the page.*/
}
#header h4 { /*top line, descriptive sub-text*/
    font-family: 'Cormorant+Garamond', serif;
    font-weight: 200;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 600px;
}
#header p.byline { /*by-line*/
    font-weight: 300;
    font-size: 0.9em;
    margin: 0.5em auto 0.8em auto;
}
#header p { /*main text body*/
    font-family: 'Cormorant+Garamond', serif;
    font-weight: 100;
    text-align: left;
    font-size: 1em;
    max-width: 600px;
    margin: 1em auto 1em auto;
}
#features h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Cormorant+Garamond', serif;
    text-align: left;
    max-width: 40vw;
}
#features p {
    font-family: 'Cormorant+Garamond', serif;
    text-align: left;
    font-size: 1.2em;
    max-width: 40vw;
}
#features .imageCredit {
  font-size: 0.9em;
  margin-top: -5px;
}
#footer p {
  font-family: 'Cormorant+Garamond', serif;
  font-size: 0.9em;
  max-width: 600px;
  padding: 1em;
  margin: 0px auto;
}
a, a:hover, a:visited {
  color: #e96138;
}
.centered {
  width: 50vw;
  margin: 0 auto;
}
.lefty {
  width: 33vw;
  margin-left: 5vw;
}
.righty {
  width: 33vw;
  margin-left: 62vw;
}
.light {
  color: #444;
  background-color: #fafafa;
}
.dark {
  color: #fafafa;
  background-color: #444;
}
.step {
  padding-bottom: 50vh;
  opacity: 0.25;
}
.step.active {
  opacity: 0.9;
}
.step div {
  padding: 25px 50px;
  line-height: 25px;
  font-size: 13px;
}
.step img {
  width: 100%;
}
